.gitignore
.dockerignore
.npmrc
.nvmrc
.env
.DS_Store
.pre-commit-config.yaml
docker-compose.yaml
*.md

.git/
.github/
node_modules/
docs/
__pycache__/
.venv/
.pdm-build/

**/node_modules
**/__pycache__
